@CHARSET "ISO-8859-1";
body{
    background-color: #5c74ae;
}

table {
    width:50%;
}

table th{
    background-color:#888;
}

table tr{
    background-color:white;
}

button{
    background-color: black;
    color: white;
    width: 12%;
    height: 40px;
}